* {
  box-sizing: border-box;
}

body {
  display:flex;
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 20px;
}

main{
  display:flex;
  flex-direction: column;
}

#home{
  padding-top: 25px;
}
.topnav {
  background-color: #aaa;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.topnav a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25
}

footer {
  display: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aaa;
  padding-top: 5px;
}

.about > p{
  padding: 0 5px;
  
}


#skills{
  padding: 5%;
}

header img {
  height: 300px;
  width: 100%
}

section {
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

@media only screen and (min-width: 600px) {
 
  

}