@media screen and (min-width: 320px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display:flex;
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;

}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer{
  width: auto;
  align-content: flex-end;
  flex-flow: row wrap;



}

header img {
  height: 300px;
  width: 100%
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}
}