* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; 
}

body {
  display:flex;
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 20px;
}

main{
  display:flex;
  flex-direction: column;
}

#home{
  padding-top: 51px;
}
.topnav {
  background-color: #aaa;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.topnav a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25
}

footer {
  display: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aaa;
  padding-top: 5px;
}

.about > p{
  padding: 0 5px;
  
}


#skills{
  padding: 5%;
}

header img {
  height: 300px;
  width: 100%
}

section {
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

@media only screen and (min-width: 800px) {
 
  
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: block;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font: 100;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: grey;
  color: white;
}
}


@media screen and (min-width: 1024px) {
  body {
    display:flex;
    font-family: "Open Sans", sans-serif; 
    font-size: 30px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 20px;

  }

  .topnav a {
    font: 100;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  

}